Dear <%= @user_name %>,

<br/> <br/>

Following hosts has been deleted from foreman. <br/><br/>

<span style="font-family: Arial,Times new roman; ">
  <table style="border: 1px solid #FF9933;border-collapse:collapse;padding: 5px;text-align:justify;">
    <tr>
      <th style="border: 1px solid #FF9933;border-collapse: collapse;padding: 4px;text-align:center;background-color: #FF9933;">
        Host name
      </th>
      <th style="border: 1px solid #FF9933;border-collapse: collapse;padding: 4px;text-align:center;background-color: #FF9933;">
        Host group
      </th>
      <th style="border: 1px solid #FF9933;border-collapse: collapse;padding: 4px;text-align:center;background-color: #FF9933;">
        Environment
      </th>
    </tr>

    <% @hosts.each do |host| %>
      <tr>
        <td style="border:1px solid #FF9933;border-collapse:collapse;padding:4px;background-color:#FFFFFF;">
          <%= host.name %>
        </td>
        <td style="border:1px solid #FF9933;border-collapse:collapse;padding:4px;background-color:#FFFFFF;">
          <%= host.hostgroup.to_s %>
        </td>
        <td style="border:1px solid #FF9933;border-collapse:collapse;padding:4px;background-color:#FFFFFF;">
          <%= host.environment.to_s %>
        </td>

      </tr>

    <% end %>

  </table>
</span>

