<%= datepicker_f f, :expired_on,
           {
             :label => _('Expires on'),
             :autocomplete => false,
             :include_blank => true,
             :use_month_numbers => false,
             :start_year => Date.today.year,
             :help_block => ('<span class="pficon-warning-triangle-o"></span> '.html_safe + _('You are not allowed to change the expiry date of this host.') unless @host.can_modify_expiry_date?),
             :disabled => !@host.can_modify_expiry_date?,
             :help_inline  => popover('Auto Expiry', _('Expired hosts will be deleted automatically after the grace period has passed.') + '<br>'.html_safe +
                                      _('If you do not want this host to expire and do not want it to be deleted automatically, do not specify an expiry date.'))
           }
%>
