<% if @host.can_modify_expiry_date? %>
  <%= stylesheet 'foreman_expire_hosts/application' %>
  <%= javascript 'foreman_expire_hosts/application' %>
<% end %>
<%= datepicker_f f, :expired_on,
           :value        => @host.expired_on.try(:strftime, '%d/%m/%Y'),
           :data         => { provide:              @host.can_modify_expiry_date? ? 'datepicker' : 'readonly',
                              orientation:          'top left',
                              date_autoclose:       true,
                              date_clear_btn:       true,
                              date_format:          'dd/mm/yyyy',
                              date_start_date:      Date.tomorrow.strftime('%d/%m/%Y'),
                              date_today_highlight: true
           },
           :autocomplete => false,
           :placeholder  => 'dd/mm/yyyy',
           :help_block => ('<span class="pficon-warning-triangle-o"></span> '.html_safe + _('You are not allowed to change the expiry date of this host.') unless @host.can_modify_expiry_date?),
           :readonly => !@host.can_modify_expiry_date?,
           :help_inline  => popover('Auto Expiry', _('Host will be deleted automatically on given expiry date.') + '<br>'.html_safe +
                                    _('Leave blank to keep the host until deleted manually')),
           :onfocus      => 'append_shortcuts()'
%>
